body{
    margin: 0;
}
#mywebsite {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}
#landing{
    padding: 200px;
    text-align: center;
    background-image: url(../img/landing-img.jpg);
    background-size: cover;
    background-position: center center;

}
#landing h1{
    font-size: x-large;
    color: white;
    text-shadow: 1px 1px 1px black;

}
#landing p{
    font-size: small;
    color: white;
    text-shadow:1px 1px 1px black ;
}
#blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    margin-top: 100px;
}
#blog h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 200%;
    font-size: 300;
}
#blog div{

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(20% - 15px);
    background-color: whitesmoke;
    box-sizing: border-box;
    width: calc(40% - 20px);
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    border: none;
    position: relative;
    overflow: hidden;
    margin-right: 30px;

}
#blog div:nth-of-type(3){
    background-color: black;
    color: white;
}
#blog div {
    flex: 1;
    padding: 20px;
}
#blog img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}
#blog div p{
    margin-bottom: 10px;
    font-size: small;
    text-align: center; 

}
  #blog div a {

    color: lightgrey;
     margin-right: 250px;
    width: 100px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: small;  

  }
#blog div a:hover{
    color: blue;
}

#services {
    padding: 100px 0;
    margin-top: 200px;
    background-color: whitesmoke;
}
#services h2 {
    font-size: 35px;
    text-align: center;
}
#services ul {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#services li{
    font-size: 18px;
    font-weight: 500;
    width: 160px;
    height: 26px;
    margin: 20px;
    padding: 32px;
    text-align: center;
    background-color: white;

}
#services li:hover{
    background-color: orangered;
}

